body {
 padding-top: 70px;
}
.jumbotron {
    color: #2c3e50;
    background-color: aquamarine;
}

.navbg {
  background-color: #ff0000; /* You can change color of nav to your desired color */
}
